*{
  box-sizing: border-box;
}

@font-face {
  font-family: 'Alcubierre';
  src: url('../fonts/Alcubierre.otf');
}

.container{
  display: flex;
}

.name{
  justify-content: center;
}

#name-title-bar{
  overflow: hidden;
  font-family: 'Alcubierre';
  max-width: 0%;
  transition: max-width 2s linear;
  white-space: nowrap;
  margin: 10px 0;
}